.selectList {
    position: relative;
    display: inline-block;
    width:300px;

    .list {
        position: relative;
        z-index: 100;
        top: 120%;
        height: 150px;
        background-color: var(--backgroundColor);
        padding: var(--paddingBasic);
        border: 1px solid var(--drawColor);
        box-shadow: 0 0 10px var(--drawColor);
        border-radius: var(--radiusBasic);
        overflow: auto;
    }


    .option {
        position: relative;
        padding: var(--paddingBasic);
        cursor: pointer;
    }

    .option:hover {
        background-color: var(--backgroundColorShaded);
    }

}

