/* Base-Styles für das Modal */
.modalBase {
    position: fixed;
    z-index: 1000; /* Über allem anderen */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparenter Hintergrund */
    overflow: auto;
    transition: opacity 0.3s ease;
    backdrop-filter: blur(10px);
}

.modalInner {
    background-color: var(--backgroundColor);
    margin: 10% auto;
    padding: var(--distanceBasic);
    border-radius: var(--radiusBasic);
    width: 80%;
    max-width: 800px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
    position: relative;
    min-height: 200px;
}

.btnClose {
    position: absolute;
    right: var(--distanceBasic);
    top: var(--distanceBasic);
    font-size: 24px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    padding:var(--distanceFar);
}

.btnClose:hover {
    color: var(--contrastColor2);
}
