:root {
    /* Abstände */
    --distanceBasic: 10px;
    --distanceNear: 5px;
    --distanceFar: 20px;

    /* Radii */
    --radiusBasic: 10px;
    --radiusNarrow: 5px;

    /* Größen */
    --widthUI: 300px;
    --widthScrollbar: 8px;
    --headerHeight: 30px;
    --footerHeight: 50px;
    --borderWidth: 1px;
    --paddingBasic: 5px;
    --paddingNarrow: 3px;

    --fontSizeBasic: 14px;
    --fontSizeSmall: 10px;
    --fontSizeLarge: 16px;
}