:root {
    /* Abstände */
    --distanceBasic: 10px;
    --distanceBasicNeg: -10px;
    --distanceNear: 5px;
    --distanceNearNeg: -5px;
    --distanceFar: 20px;
    --distanceFarNeg: -20px;

    /* Radii */
    --radiusBasic: 10px;
    --radiusNarrow: 5px;

    /* Größen */
    --widthUI: 300px;
    --widthScrollbar: 8px;
    --headerHeight: 30px;
    --tabsHeight: 30px;
    --footerHeight: 50px;
    --borderWidth: 1px;
    --paddingNarrow: 3px;
    --paddingBasic: 5px;
    --paddingWide: 10px;

    --fontSizeBasic: 14px;
    --fontSizeSmall: 12px;
    --fontSizeLarge: 16px;
}