:root {

    /* Grundfarben */
    --backgroundColor: #000000; /* Haupt-Hintergrund (schwarz) */
    --backgroundColorHighlighted: #474124; /* Haupt-Hintergrund (dunkel) */
    --backgroundColorShaded: #1a1a1a; /* Abgedunkelter-Hintergrund  */
    --backgroundColorCanvas: #ffffff;
    --backgroundColorBG: #000000; /* Hintergrund ganz hinten */
    --backgroundColorInputs: #000000;   /* Hintergrund für Inputfelder */
    --textColor: #ffffff; /* Primäre Textfarbe (weiß) */
    --textColorHighlighted: #ffffff; /* Primäre Textfarbe (hell) */
    --shadedTextColor: #ffffff; /* Abgeschwächte/sekundäre Textfarbe (auch weiß für maximalen Kontrast) */
    --drawColor: #ffffff; /* Akzentfarbe für Linien/Highlights (weiß) */

    /* Akzent- und Kontrastfarben */
    --contrastColor1: #ffff00; /* Kontrast 1 (Gelb für maximale Sichtbarkeit) */
    --contrastColor2: #00ffff; /* Kontrast 2 (Cyan für hohen Kontrast) */
    --scrollbarThumbColor: #ffffff;
}