:root {

    /* Grundfarben */
    --backgroundColor: #fdf2f8; /* Haupt-Hintergrund (sehr helles Rosa) */
    --backgroundColorHighlighted: #e6bcd2; /* Haupt-Hintergrund (dunkel) */
    --backgroundColorShaded: #f3e8ff; /* Abgedunkelter-Hintergrund (hellviolett) */
    --backgroundColorBG: #e879f9; /* Hintergrund ganz hinten (pink) */
    --backgroundColorInputs: #ffffff;   /* Hintergrund für Inputfelder (weiß bleibt) */
    --textColor: #831843; /* Primäre Textfarbe (dunkles Pink) */
    --textColorHighlighted: #6a1836; /* Primäre Textfarbe (hell) */
    --shadedTextColor: #a21caf; /* Abgeschwächte/sekundäre Textfarbe (mittleres Pink) */
    --drawColor: #d946ef; /* Akzentfarbe für Linien/Highlights (helles Pink) */

    /* Akzent- und Kontrastfarben */
    --contrastColor1: #ec4899; /* Kontrast 1 (Pink für Betonung) */
    --contrastColor2: #22c55e; /* Kontrast 2 (Grün als Komplementärfarbe) */
    --scrollbarThumbColor: #c084fc;
}