#cGraph {
    position: relative;
    display: inline-block;
    border: 1px solid var(--drawColor);
    border-radius: var(--radiusBasic);
    background-color: var(--backgroundColorCanvas);
}

.containerUI {
    position: relative;
    display: inline-block;
    vertical-align:top;
}