@font-face {
    font-family: 'Museo300';
    src: url('/assets/fonts/museo300/Museo300-Regular-webfont.woff2') format('woff2'),
    url('/assets/fonts/museo300/Museo300-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Museo500';
    src: url('/assets/fonts/museo500/Museo500-Regular-webfont.woff2') format('woff2'),
    url('/assets/fonts/museo500/Museo500-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Museo700';
    src: url('/assets/fonts/museo700/Museo700-Regular-webfont.woff2') format('woff2'),
    url('/assets/fonts/museo700/Museo700-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
