header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding:var(--paddingBasic);
    min-height: calc(var(--headerHeight) - var(--paddingBasic) * 2);
    outline: var(--borderWidth) solid var(--drawColor);
    background-color: var(--backgroundColorShaded);

    z-index: 100;
}