main {
    position: fixed; /* occupy the area between fixed header and footer */
    top: calc(var(--headerHeight) + var(--distanceBasic));
    left: 0;
    right: 0;
    bottom: var(--footerHeight); /* footer height */

    display: flex;
    flex-direction: column;

    /*outline: var(--borderWidth) solid #aaa;*/
    overflow: hidden; /* delegate scrolling to inner panes */
    background-color: var(--backgroundColorBG);

    topui {}
    topui:empty {
        display: none;
    }
}