/*@import './themeBasic.css';*/
@import './header.css';
@import './footer.css';
@import './content.css';
@import './tabs.css';
@import './main.css';
@import './fonts.css';

:root {

}

html {
    position: relative;
    min-height: 100%;
    color: var(--textColor);
    background-color: var(--backgroundColorBG);
    font-family: Museo500, Arial, Helvetica, sans-serif;
}

.distanceHorz {
    position: relative;
    display: inline-block;
    width: var(--distanceFar);
}

.transit {
    transition: all 0.3s ease-in-out;
}