/*@import './themeBasic.css';*/
@import './header.css';
@import './footer.css';
@import './content.css';
@import './tabs.css';
@import './main.css';

:root {

}

html {
    position: relative;
    min-height: 100%;
    color: var(--textColor);
    background-color: var(--backgroundColorBG);
}

.transit {
    transition: all 0.3s ease-in-out;
}