tabs {
    position: relative;
    display: block;
    border-bottom: var(--borderWidth) solid var(--drawColor);
    background-color: var(--backgroundColorShaded);
    padding-top: var(--paddingBasic);
    padding-left: var(--paddingBasic);

    tab {
        position: relative;
        display: inline-block;
        padding: var(--distanceNear);
        padding-left: var(--distanceBasic);
        padding-right: var(--distanceBasic);
        margin-right: calc(var(--distanceNear) / 2);
        background-color: var(--backgroundColor);
        border-radius: var(--radiusNarrow) var(--radiusNarrow) 0 0;
    }
}