tabs {
    position: relative;
    display: block;
    border-bottom: var(--borderWidth) solid var(--drawColor);

    tab {
        position: relative;
        display: inline-block;
        padding: var(--distanceNear);
        margin-right: var(--distanceNear);
        background-color: var(--backgroundColor);
    }
}