tabs {
    position: relative;
    display: block;
    border-bottom: var(--borderWidth) solid var(--drawColor);
    background-color: var(--backgroundColorShaded);
    padding-top: var(--paddingBasic);
    padding-left: var(--paddingBasic);

    tab {
        position: relative;
        display: inline-block;
        padding: var(--distanceNear);
        margin-right: var(--distanceNear);
        background-color: var(--backgroundColor);
    }
}