.selectbox {
    position: relative;
    display: inline-block;


    .legend {
        position: relative;
        display: inline-block;
    }

    .value {
        display: inline-block;
        background-color: var(--backgroundColorInputs);
        min-width: 150px;
        padding: var(--paddingBasic);
        border: 1px solid var(--drawColor);
        border-radius: var(--radiusBasic);
    }

    .list {
        position: absolute;
        z-index: 100;
        top: 120%;
        background-color: var(--backgroundColor);
        padding: var(--paddingBasic);
        border: 1px solid var(--drawColor);
        box-shadow: 0 0 10px var(--drawColor);
        border-radius: var(--radiusBasic);
        overflow: hidden;
    }

    .list.hidden {
        height: 0;
        padding: 0;
        border-color: transparent;
        opacity: 0;
        box-shadow: 0 0 0 transparent;
    }

    .option {
        position: relative;
        padding: var(--paddingBasic);
        cursor: pointer;
    }

    .option:hover {
        background-color: var(--backgroundColorShaded);
    }

}

