
.tab {
    position: relative;
    display: inline-block;
    padding: var(--paddingBasic);
    padding-left: var(--paddingBasic);
    padding-right: var(--paddingBasic);
    margin-right: calc(var(--paddingBasic) / 2);
    margin-top: calc(var(--paddingBasic));
    background-color: var(--backgroundColor);
    border-radius: var(--radiusNarrow) var(--radiusNarrow) 0 0;
    cursor: pointer;
    top: 0;
    vertical-align: top;
    border: var(--borderWidth) solid var(--drawColor);
    border-bottom: none;

    .legend {
        position: relative;
        display: inline-block;
        vertical-align: top;
    }

    canvas.btnEdit {
        position: relative;
        display: inline-block;
        margin-left: var(--paddingNarrow);
        margin-top: var(--paddingNarrow);
        vertical-align: top;
    }
}

.tab:hover {
    background-color: var(--backgroundColorHighlighted);
    padding-bottom: calc(var(--paddingBasic) * 2);
    margin-top: 0;
    color: var(--textColorHighlighted);
}

.tab.active {
    background-color: var(--contrastColor2);
    border-color: #fff;
    color: #fff;
}