.info-icon {
    cursor: pointer;
    color: var(--drawColor);
    font-weight: bold;
    width: var(--distanceBasic);
    height: var(--distanceBasic);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radiusBasic);
    background-color: var(--backgroundColor);
}
.info-icon:hover {
    color:var(--contrastColor1);
}

.info-box {
    position: fixed;
    padding: var(--paddingBasic);
    background-color: var(--backgroundColorHighlighted);
    border: var(--borderWidth) solid var(--drawColor);
    border-radius: var(--radiusBasic);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: var(--widthUI);
    word-wrap: break-word;
}
