.parentLoadWorks {
    position: relative;
    display: flex;
    border: 1px solid var(--drawColor);

    .parentSelectList {
        position: relative;
        display: block;
        border: 1px solid var(--drawColor);
        padding: var(--paddingBasic);
    }

    .parentInfoWork {
        position: relative;
        min-height: 100px;
        /*border: 1px solid var(--drawColor);*/
        padding: var(--paddingBasic);
    }

}