.editSegment {
    position: relative;
    padding-top: var(--paddingBasic);
    padding-bottom: var(--paddingBasic);
    color: var(--textColor);
    border-bottom: 2px solid var(--contrastColor2);

    .segmentText {
        position: relative;
        padding: var(--paddingBasic);
        min-height: 150px;
        max-height: 400px;
        overflow: scroll;
    }

}

.input-text2-legend:empty {
    border-bottom: 1px dotted var(--textColor);
}